
.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  margin: auto;
}

.row {
  display: flex;
}

button {
  width: 150px;
  height: 150px;
  border-radius: 4px;
  border: 1px solid aquamarine;
  background-color:aqua;
  padding: 0;
  margin: 0;
}

.winner {
  background-color: darkorange;
  border: 1px solid salmon;
}